
<header class="header">
    <div class="header__block">
        <div class="logo__block">
            <a href="{% url 'main' %}">
                <img src="static/barber/media/source/barbers-logo-2-185.png" alt="barbers" class="logo">
            </a>
        </div>
        <div class="menu__block">
            <ul class="menu__list">
                <li class="menu__item"><a class="item__link" href="{% url 'booking' %}">Booking</a></li>
                <li class="menu__item"><a class="item__link" href="{% url 'team' %}">Our team</a></li>
                <li class="menu__item"><a class="item__link" href="{% url 'services' %}">Services</a></li>
                <li class="menu__item"><a class="item__link" href="{% url 'faq' %}">FAQ</a></li>
                <li class="menu__item"><a class="item__link" href="{% url 'join' %}">Join to us</a></li>
                <li class="menu__item"><a class="item__link" href="{% url 'about' %}">About us</a></li>
            </ul>
        </div>  
    </div>
    
</header>