.header {
    width: 100vw;
    background-color: #2d2d2d;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;

    overflow: hidden;  
}
.header__block {
    display: flex;
    z-index: 10;

    justify-content: space-between;
}
.logo__block {
    display: flex;
    align-items: center;
}

.logo {
    padding: 0 40px;
}

.welcome-user {
    width: 200px;
    text-align: right !important;
    display: flex;
    font-family: 'Ubuntu' !important;

    color: white;
    padding: 32px 0 0;
    margin-left: 350px;
    box-sizing: border-box;

}
.welcome-user a {
    color: rgb(246, 217, 163);

    margin-left: 15px;
}
.menu__block {
    margin-right: 20px;
}
.menu__list {
    display: flex;
}
.menu__item {
    color: white;
    font-family: poppins, san-serif;
    font-size: 15px;
    font-weight: normal;

    height: 85px;
    padding: 0 20px;

    border-left: white solid .5px;
    
    
    display: flex;
    align-items: center;
}

.item__link {
    color: white;
    font-family: 'Poppins', sans-serif!important;
    font-size: 15px!important;
    font-style: normal!important;
    font-weight: 500!important;
    text-decoration: none!important;
    text-transform: uppercase!important;
    letter-spacing: .7px;
}